<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <form method="POST" action='{{post_endpoint}}'>
      <textarea id="code" style="width: 100%" rows="30" name="data">
class Person: anna, bob
class Party: demo, repub

predicate[Functional]: votes(Person, Party)
predicate[Symmetric]: friends(Person, Person)
rule: votes(A, P) & friends(A, B) => votes(B, P)

fact [0.7]: votes(anna, demo)
fact: friends(anna, bob)</textarea>
      <br />
      <input type="submit" value="Submit" >
    </form>

  </body>
</html>
